@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1080px;
    margin: 2em auto;
    padding: 0.5em auto;
}
header {
    text-align: center;
}
#grozara-logo {
    width: 200px;
}
nav {
    margin: 1.5em auto;
    max-width: 600px;
}
nav ul {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
main {
    display: flex;
    flex-flow: column;
}
.hero {
    text-align: center;
}
.hero h1 {
    font-size: 2em;
    font-weight: 900;
}
.hero h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #A7A7A7;
}
.hero p {
    font-size: 1em;
    font-weight: 400;
    max-width: 500px;
    margin: 2em auto;
    color: #A7A7A7;
}
.hero h1::before {
    content: "";
    display: block;
    width: 200px;
    border: 2px solid #17B806;
    margin: 0.5em auto;
}
.hero h1::after {
    content: "";
    display: block;
    width: 200px;
    border: 2px solid #17B806;
    margin: 0.5em auto;
}
.appButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}
#apple-download, #android-download {
    width: 25%;
    padding: 10px;
    background-color: red;

}

figure {
    text-align: center;
}
figure img {
    margin: 3em auto 0;
    width: 300px;
}