@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    margin: 0 5%;
    bottom: 0;
}
.container {
    max-width: 1020px;
    margin: 2em auto;
    padding: 0.5em auto;
}
header {
    text-align: center;
}
#grozara-logo {
    width: 200px;
}
nav {
    margin: 1.5em auto;
    max-width: 600px;
}
nav ul {
    margin: 20px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    font-size: 1em;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
main {
    display: flex;
    flex-flow: column;
}
.hero {
    text-align: center;
}
.hero h1 {
    font-size: 2em;
    font-weight: 700;
}
.hero h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #A7A7A7;
}
.hero p {
    font-size: 1em;
    font-weight: 400;
    max-width: 500px;
    margin: 2em auto;
    padding: 20px;
    color: #A7A7A7;
}
.hero h1::before {
    content: "";
    display: block;
    width: 200px;
    border: 2px solid #17B806;
    margin: 0.5em auto;
}
.hero h1::after {
    content: "";
    display: block;
    width: 200px;
    border: 2px solid #17B806;
    margin: 0.5em auto;
}
.appButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}
#apple-download, #android-download {
    width: 180px;
    padding: 1px;
}

figure {
    text-align: center;
}
figure img {
    margin: 3em auto 0;
    width: 300px;
}

@media screen and (min-width: 900px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }
    nav {
        margin: 0;
    }
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav ul li {
        list-style: none;
        padding: 0.5em 2em;  
    }
    nav ul li a {
        font-size: 1.4em;
        font-weight: 600;
        text-decoration: none;
    }
    main {
        flex-flow: row;
    }
    .hero {
        text-align: left;
    }
    .hero h1 {
        font-size: 4em;
        margin-top: 5%;
    }
    .hero h1::before {
        display: none;
    }
    .hero h1::after {
        content: "";
        display: block;
        width: 200px;
        border: 2px solid #17B806;
        margin: 20px 0 20px 0;
    }
    .hero p {
        display: none;
    }
    .appButtons {
        display: flex;
        margin-top: 20px;
        padding: 0px;
        align-items: left;
        justify-content: left;

    }
    #apple-download, #android-download {
        width: 180px;
        padding: 0;
        margin: 0;
    }
    figure img {
        margin: 0.5em auto;
        width: 300px;
        -webkit-transform:rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 2em auto;
        padding: 0.5em auto;
    }
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }
    nav {
        margin: 0;
    }
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav ul li {
        list-style: none;
        padding: 0.5em 2em;

    }
    nav ul li a {
        font-size: 1.4em;
        font-weight: 600;
        text-decoration: none;
    }
    main {
        flex-flow: row;
    }
    .hero {
        text-align: left;
    }
    .hero h1 {
        font-size: 4.5em;
        margin-top: 5%;
    }
    .hero h1::before {
        display: none;
    }
    .hero h1::after {
        content: "";
        display: block;
        width: 200px;
        border: 2px solid #17B806;
        margin: 20px 0 20px 0;
    }
    .hero p {
        display: none;
    }
    .appButtons {
        display: flex;
        margin-top: 20px;
        padding: 0px;
        align-items: left;
        justify-content: left;

    }
    #apple-download, #android-download {
        width: 180px;
        padding: 0;
        margin: 0;
    }
    figure img {
        margin: 0.5em auto;
        width: 400px;
        -webkit-transform:rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
@media screen and (min-width: 2000px) {
    .container {
        max-width: 2200px;
        margin: 5em auto;
        padding: 0.5em auto;
    }
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }
    nav {
        margin: 0;
    }
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav ul li {
        list-style: none;
        padding: 0.5em 2em;

    }
    nav ul li a {
        font-size: 2em;
        font-weight: 700;
        text-decoration: none;
    }
    main {
        flex-flow: row;
    }
    .hero {
        text-align: left;
    }
    .hero h1 {
        font-size: 7.5em;
        margin-top: 5%;
    }
    .hero h1::before {
        display: none;
    }
    .hero h1::after {
        content: "";
        display: block;
        width: 200px;
        border: 2px solid #17B806;
        margin: 20px 0 20px 0;
    }
    .hero h2 {
        font-size: 4em;
        font-weight: 400;
        color: #A7A7A7;
    }
    .hero p {
        display: none;
    }
    .appButtons {
        display: flex;
        margin-top: 50px;
        padding: 0px;
        align-items: left;
        justify-content: left;

    }
    #apple-download, #android-download {
        width: 180px;
        padding: 0;
        margin: 0;
    }
    figure img {
        margin: 0.5em auto;
        width: 800px;
        -webkit-transform:rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}